# Visual Studio generated .clang-format file

# The style options in this file are a best effort attempt to replicate the
# current IDE formatting configuration from Tools > Options. The following
# style options, however, should be verified:
# AfterClass, AfterControlStatement, AfterEnum, AfterFunction, AfterNamespace, 
# AfterStruct, AfterUnion

AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AllowShortBlocksOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
BasedOnStyle: LLVM
BraceWrapping:
  AfterClass: false    
  AfterControlStatement: false
  AfterEnum: false    
  AfterFunction: false
  AfterNamespace: false 
  AfterStruct: false 
  AfterUnion: false 
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: true
  SplitEmptyRecord: true
BreakBeforeBraces: Custom
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: AfterColon

ColumnLimit: 100
Cpp11BracedListStyle: false
FixNamespaceComments: false
IndentCaseLabels: false
IndentPPDirectives: None
IndentWidth: 4
MaxEmptyLinesToKeep: 10
NamespaceIndentation: None
PointerAlignment: Left

SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^\"Defs\.h\"'
    Priority:        1
  - Regex:           '^\"drvut/Defs\.h\"'
    Priority:        1
  - Regex:           '<([A-Za-z0-9\/-_])+>'
    Priority:        2
  - Regex:           '<([A-Za-z0-9.\/-_])+>'
    Priority:        3
  - Regex:           '"([A-Za-z0-9.\/-_])+"'
    Priority:        4

SortUsingDeclarations: false
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
TabWidth: 4
UseTab: false
MaxEmptyLinesToKeep: 1

AlignAfterOpenBracket : Align
AlignTrailingComments: true

AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

AlwaysBreakTemplateDeclarations: Yes
